
section.more-know
  .block__title-box
    h3.block__title
      | テキスト
  .block__content-box
    .block__content
      .box-service
        a(href="#").link.service
          p.word Service
            span.word-sub
              | テキストテキスト
          span.service-icon
      .box-download
        a(href="#").link.download
          p.word Download
            span.word-sub
              | テキストテキスト
          span.service-icon
      .box-contact
        a(href="#").link.contact
          p.word Contact
            span.word-sub
              | テキストテキスト
          span.service-icon
