
-
  var footer_data = {
    0 : {
      title : "お問い合わせ",
      class : "contact",
      links : [
        "03-5413-4820 (代表)",
        "info@branu.jp",
        "よくあるご質問"
      ]
    },
    2 : {
      title : "製品情報",
      class : "product",
      links : [
        "CAREECON",
        "CAREECON for WORK 施工管理",
        "CAREECON 顧客管理",
        "CAREECON マーケティング"
      ]
    },
    3 : {
      title : "お知らせ",
      class : "news",
      links : [
        "ニュースリリーストップ",
        "月別アーカイブ",
      ]
    }
  }

  var footer_banner = {
    1 : {
      path: "/assets/images/bannar/_img_bannar_0"
    },
    2 : {
      path: "/assets/images/bannar/_img_bannar_0"
    },
    3 : {
      path: "/assets/images/bannar/_img_bannar_0"
    },
    4 : {
      path: "/assets/images/bannar/_img_bannar_0"
    }
  }

.banner-stick
  .block__content
    .content__bannar
      .banner-box
        a(href="#")
          img(src="http://localhost:9000/wp-content/uploads/2019/11/01@2x.png" alt="img").img
      .banner-box
        a(href="#")
          img(src="http://localhost:9000/wp-content/uploads/2019/11/01@2x.png" alt="img").img
