
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,minimal-ui,initial-scale=1, user-scalable=no')
meta(name='apple-mobile-web-app-capable', content='yes')
link(rel='stylesheet', media='all', href!=`/assets/css/reset.css`)
link(rel="stylesheet", media='all', href="https://use.typekit.net/hmt2sip.css")
link(rel='stylesheet', media='all', href!=`/assets/css/style.css`)
link(rel='stylesheet', media='all', href='https://unpkg.com/swiper/css/swiper.css')
| <?php wp_head(); ?>
